/* ====================== Restaurant Filtering ====================== */

.filter-options {
    padding: 10px 0;
    width: 100%;
    background-color: #3397DB;
    align-items: center;
    text-align: center;
}

.filter-options h2 {
    color: white;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1;
    margin: 0 20px;
}

.filter-options select {
    background-color: #fff;
    border: 1px solid #fff;
    font-family: Arial, sans-serif;
    font-size: 11pt;
    height: 35px;
    letter-spacing: 0;
    margin: 10px 10px 0;
    padding: 0 10px;
    width: 200px;
}

.filters {
    display: flex;
    justify-content: center;
    align-items: center;
}
